.main_container {
  padding: 24px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 400px 400px 1fr;
  gap: 24px;
}

.main_container > div {
  /* border: solid 1px var(--ghost-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius); */
  padding: 0.5em;
}

.feed {
  grid-row-start: 1;
  grid-row-end: 3;
}

.targets {
}

.jobs {
  grid-column-start: 2;
}
