.header_container {
  display: grid;
  height: 100%;
  grid-template-columns: 250px 400px 1fr 150px;
  column-gap: 12px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.5rem;
  color: var(--cta-orange);
  text-shadow: inherit;
  font-family: var(--raleway);
}

.subtitle {
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: normal;
  text-transform: none;
  color: var(--dark-blue);
  font-family: var(--subtitle);
}

.title_container {
  grid-column-start: 1;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

.title_container:hover {
  text-shadow: var(--text-shadow-hover);
}

.search_bar {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.exit {
  font-size: 0.9rem;
  grid-column-start: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 1em;
  color: var(--dark);
  text-shadow: var(--text-shadow);
}

.exit:hover {
  background-color: var(--accent-blue);
  border-radius: var(--radius);
  color: var(--dark-blue);
}
