@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Raleway:ital,wght@0,300;0,400;0,700;1,300&display=swap");

body {
  /* Global variables */
  /* Colors */
  --dark: #495867;
  --dark-blue: #577399;
  --light-blue: #bdd5ea;
  --lighter-blue: #dae6f5;
  --accent-blue: #f0f3fd;
  --ghost-white: #f7f7ff;
  --off-white: #fdfdfe;
  --accent-pink: #fbabaa;
  --cta-orange: #fe5f55;

  /* borders and shadows */
  --text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  --text-shadow-hover: 2px 2px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  --border: 1px solid var(--lighter-blue);
  --radius: 20px;

  /* Fonts */
  --subtitle: "Kurale", serif;
  --raleway: "Raleway", sans-serif;
}

.app {
  /* max-width: 1300px; */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr 30px;
  /* gap: 8px; */
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom: var(--border);
  background-color: var(--off-white);
}
.sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: var(--border);
  background-color: var(--off-white);
}
.main {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  border-top: var(--border);
  background-color: var(--off-white);
  
}

.feed_title {
  padding: 6px;
  font-size: 1.2rem;
  color: var(--dark-blue);
  text-shadow: var(--text-shadow);
  letter-spacing: 0.2rem;
  /* text-transform: lowercase; */
  border-bottom: 1px solid var(--ghost-white);
}

.feed_icon {
  margin-right: 12px;
  font-size: 1.3rem !important;
  color: var(--cta-orange);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lighter-blue);
  border-radius: var(--radius);
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-blue);
}
